.footer {
  background-size: cover;
  background-position: 50% 116%;

  .widget {
    width: 20%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include respond-to(900, 'max') {
    background-position: 2% -60px;
  }

  @include respond-to(700, 'max') {
    .widget {
      width: 40%;
      margin-right: 30px;

      &:last-child {
        margin-right: 30px;
      }
    }
  }

  @include respond-to(500, 'max') {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;

    .widget {
      width: 100%;
      margin-right: 30px;
    }

  }
}

.footer-content {
  padding-top: 4em;
  padding-bottom: 3em;


  @include respond-to(500, 'max') {
    padding-top: 2em;
    padding-bottom: 1em;
  }

}

.footer-copyright {
  background-color: color(primary);
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 12px;
}
