.footer {
  background-size: cover;
  background-position: 50% 116%;

  @include respond-to(900, 'max') {
    background-position: 2% -60px;
  }

  @include respond-to(500, 'max') {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
}

.footer-content {
  padding-top: 4em;
  padding-bottom: 3em;
}

.footer-copyright {
  background-color: color(primary);
  padding: 2em 0;
  color: white;
  text-align: center;
  font-size: 12px;
}
