.header {
  padding: 2em 0 1em;

  @include respond-to(800, 'max') {}
  @include respond-to(500, 'max') {}
}

.header-wrapper {

  @include respond-to(1100, 'max') {}
  @include respond-to(800, 'max') {}

  @include respond-to(500, 'max') {
    @extend .pattern-wood;
  }
}

.header-footer {
  @include respond-to(500, 'max') {}
}

.header-mobile-icon {
  @include mobile-menu-icon;
}

.page-header {
  width: 100%;
  min-height: 300px;
}

.page-header-collapsed {
  display: none;
}

.page-header-title {
  margin: 0;
  color: white;
}

.home .page-header-collapsed {
  display: none;
}
