.header {
  padding: 2em 0 1em;

  @include respond-to(800, 'max') {
    padding: 1em 0;
  }

}

.header-wrap {
  @include respond-to(800, 'max') {
    justify-content: flex-start;
  }
}

.page-header {
  width: 100%;
  min-height: 300px;
  background-size: cover;
  background-position: 50% 50%;
}

.page-header-background {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-width: 100%;
}

.page-header-collapsed {
  display: none;
}

.page-header-title {
  margin: 0;
  color: white;
}

.home .page-header-collapsed {
  display: none;
}
