.post {
  margin-bottom: 2em;
}

.entry-meta {
  margin-bottom: 1em;
}

.entry-title {
  margin-bottom: 5px;
  font-size: $font-m;

  a:hover {
    opacity: 0.7;
  }
}

.byline {
  display: inline;

  a {}

}

.posts-navigation {
  margin: 4em 0 2em;

  .nav-links {
    display: flex;
    justify-content: space-between;
  }

  .screen-reader-text {
    display: none;
  }
}
