.wrapper {
  height: 100%;
  z-index: 1;

  @include respond-to(1100, 'max') {
    position: relative;
  }

  @include respond-to(500, 'max') {
    flex-direction: column;
  }
}

.logo-mark {
  width: 55%;
  display: block;
  margin: rem($space-l) 0;

  @include respond-to(500, 'max') {
    width: 80px;
    margin: 0;
  }

  img {
    width: 100%;
  }
}

.main {
  max-width: $container-width;
  padding: 2em 1em;

  img {
    width: 100%;
  }

  @include respond-to(700, 'max') {
    flex-direction: column-reverse;
  }

  @include respond-to(500, 'max') {
    width:  100%;
    min-width: 100%;
    flex: 1;
  }
}

.content {
  width: 64%;

  @include respond-to(700, 'max') {
    width:  100%;
    flex: 1;
  }

  h2:first-of-type,
  p:first-of-type {
    margin-top: 0;
  }
}

.home .main {
  background: transparent;
  display: none;
}
