.breadcrumbs {
  background-color: color(greyLight);
  width: 100%;
  font-family: $font-primary;
  font-size: $font-xs;
}

.error404 .breadcrumbs {
  display: none;
}

#breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  > span {
    display: block;
    width: 100%;
    text-align: right;
  }
}

.home .breadcrumbs,
.content .breadcrumbs {
  display: none;
}
