.btn,
span.btn,
.nav-previous a,
.nav-next a,
.quantumWizButtonPaperbuttonLabel {
  color: white;
  padding: rem($space-s) rem($space-m);
  font-size: $btn-s;
  background-color: color(highlight);
  font-family: $font-primary;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid color(highlight);

  &:hover {
    background-color: transparent;
    color: color(highlight);
  }
}

.btn-large {
  font-size: $btn-l;
}
