.facebook-event {
  width: 43%;
  // margin-bottom: 2em;

  .btn {
    margin-top: 10px;
    display: inline-block;
  }
}

.facebook-event-image {
  max-width: 500px;
  margin-bottom: 10px;
}

.facebook-event-desc {
  word-break: break-word;
}

.facebook-event-date {
  margin: 0;
}
