input:not('.jfk-button'),
textarea,
select {
  width: 100%;
  background-color: white;
  border: 1px solid #bdbdbd;

}

#ss-form {

  ol,
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  .ss-q-title {
    font-weight: bold;
  }

  div.error-message {
    margin-top: 5px;
    font-size: 14px;
  }

  input[type="radio"],
  input[type="checkbox"],
  input[type="checkbox"] + .ss-choice-label,
  input[type="radio"] + .ss-choice-label {
    display: inline;
    width: auto !important;
  }

  .ss-form-question {
    margin-bottom: 1em;
  }

  .ss-q-item-label {
    margin-bottom: 5px;
    display: block;
    margin-left: 2px;
  }

  .ss-required-asterisk {
    color: red;
  }

  input,
  textarea,
  select {
    width: 100%;
    background-color: white;
    border: 1px solid #bdbdbd;

  }

  input[type="submit"] {
    color: white;
    padding: rem($space-s) rem($space-m);
    font-size: $btn-s;
    background-color: color(highlight);
    font-family: $font-primary;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid color(highlight);
    width: auto;

    &:hover {
      background-color: transparent;
      color: color(highlight);
    }
  }

  td.goog-inline-block:first-child {
    padding-left: 0;
  }


}

.ss-form-container {
  div.ss-form-heading {
    margin-bottom: 2em;
  }

  .errorheader {
    margin: 2em 0;
    color: red;
  }
}

.ss-response-footer {
  display: none;
}

.ss-resp-message {
  margin: 1em 0;
  background-color: rgba(136, 228, 67, 0.39);
  color: color(primary);
  padding: 1em;
}

.form-group {}
.form-control {}

.form-control-inline {
  margin: 0 1em;

  @include respond-to(600, 'max') {
    width: 100%;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;

    select,
    input {
      width: 100%;
    }
  }
}

input[type=search] {
  width: 96%;
  margin: 1em 0;
}

#ui-datepicker-div {
  display: none;
}


.gform_wrapper {
  max-width: 100%;
}

.gform_wrapper input[type=email],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper textarea,
textarea,
input {
  color: #333;
  padding: 0.5em;
  width: 100%;
}

.gform_wrapper input.datepicker.datepicker_with_icon {
  width: 97% !important;
}


.gform_wrapper label.gfield_label+div.ginput_container {
  margin-bottom: 1em;
}

.ginput_full.address_line_1,
.ginput_full.address_line_2 {
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
}

.ginput_left.address_city {
  margin-bottom: 1em;
  display: inline-block;
}

.ginput_complex.ginput_container.has_first_name.has_last_name {
  width: 98.5%;
}

.gform_wrapper .ginput_complex label,
.gform_wrapper .top_label .gfield_label,
body .gform_wrapper img.ui-datepicker-trigger {
  display: none;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper input[type=submit],
button,
input[type=submit] {
  @extend .btn;
}

.gform_title {
  font-size: $font-m !important;
}

.gform_wrapper .gform_footer {
  display: flex;
  justify-content: center;
}


.gform_confirmation_message {
  background-color: color(primary);
  padding: 0.5em;
  text-align: center;
}

.gform_wrapper div.validation_error {
  color: white;
  font-size: $font-base;
  font-weight: normal;
  background-color: #D75151;
  margin-bottom: 1.6em;
  border: none;
  padding: 0.5em;
  clear: both;
  text-align: center;
  width: 100%;
}


.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: transparent;
  margin-bottom: .375em!important;
  padding: 0;
  border: none;
}

.gform_wrapper .validation_message {
  background-color: transparent;
  color: #D75151;
}

.gfield_error input,
.gfield_error textarea {
  border: 1px solid #D75151;
}

.gform_wrapper.gform_validation_error .gfield_error .ginput_container {
  margin-bottom: 0;
}

.gform_wrapper.gform_validation_error .ginput_container+.gfield_description.validation_message {
  line-height: 1;
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 0;
  padding-top: 0;
}

.freebirdFormviewerViewItemsItemItem {
  margin-bottom: 1em;
}

.freebirdFormviewerViewItemsItemItemTitle {
  font-weight: bold;
  font-size: $btn-l;
}

.freebirdFormviewerViewFooterImageContainer {
  display: none;
}

.freebirdFormviewerViewNavigationPasswordWarning {
  display: block;
  margin-top: 1em;
  font-size: 14px;
}

.freebirdFormviewerViewNavigationButtonsAndProgress {
  margin-top: 2em;
}

.quantumWizTextinputPapertextareaInput {
  min-height: 150px;
}

.freebirdFormviewerViewHeaderTitleRow {
  font-size: $font-l;
}

.freebirdFormviewerViewHeaderHeader {
  margin-bottom: 2em;
}

.freebirdFormviewerViewItemsItemRequiredAsterisk,
.freebirdFormviewerViewHeaderRequiredLegend {
  color: red;
}
