.component-how-we-work {
  background-size: cover;
  background-position: 9% 54%;
}

.how-we-work-title {
  text-align: center;
  background-color: color(primary);
  color: white;
  padding: 10px 0;
  margin-bottom: 1em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.card,
.highlight {
  background-color: white;

  @include shadow-subtle;
}

.highlight {

  // &:first-child {
  //   margin-left: 0;
  // }
  //
  // &:last-child {
  //   margin-right: 0;
  // }
  //
  // @include respond-to(800, 'max') {
  //   &:last-child,
  //   &:first-child {
  //     margin: .5em 1em;
  //   }
  // }
  //
  // @include respond-to(600, 'max') {
  //   &:last-child,
  //   &:first-child {
  //     margin: .5em 1em;
  //   }
  // }
  //
  // @include respond-to(500, 'max') {
  //   &:last-child,
  //   &:first-child {
  //     margin: .5em 1em;
  //   }
  // }
}

.highlight-title {
  font-size: $font-xs + 3px;
  padding: 1em 1em 0 1em;
  text-align: center;
  min-height: 85px;
}

.highlight-icon {
  background-color: color(greyLight);
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  height: 100px;
}

.highlight-copy {
  padding: 0 1em;
  text-align: center;
}

.highlight-cta {
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}
