.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-primary-wrapper {
  width: 100%;

  @include respond-to(500, 'max') {
    display: none;
  }

}

.menu-primary-wrapper-mobile {
  display: none;
}

.nav {
  list-style: none;
  margin: 0;
}

.nav-menu {
  text-align: center;
  font-family: $font-primary;
  text-transform: uppercase;
  font-size: $font-s;
  color: color(primary);
  text-decoration: none;
  padding: 0.2em 0.8em;
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;

  @include respond-to(800, 'max') {
    font-size: $font-xs;
  }

  &:before {
    content: '';
    width: 100%;
    display: inline-block;
    height: 16px;
    border-top: 1px solid color(red);
  }

  &:after {
    content: '';
    background-image: url('../imgs/icon-dinner.svg');
    height: 46px;
    width: 100%;
    display: inline-block;
    background-size: 100% 100%;
    margin-top: 20px;

    @include respond-to(500, 'max') {
      display: none;
    }
  }

}

.nav-primary {
  @include respond-to(800, 'max') {
    display: none;
  }
}

.menu-primary {
  text-align: center;
  font-family: $font-primary;
  list-style: none;

  @include respond-to(500, 'max') {
    margin-bottom: 2em;
  }

  li:hover > .sub-menu {
    display: block;
  }
}

.menu-item {
  position: relative;

  a:not(.btn) {
    color: color(primary);
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    font-size: $font-xs;
    font-family: $font-secondary;

    &:hover {
      @include dim;
    }

  }

  &:last-child {
    a:not(.btn) {
      padding-right: 0;
    }
  }

  @include respond-to(800, 'max') {
    font-size: $font-xs;
  }

}

.sub-menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  background-color: transparentize(color(secondary), .1);
  position: absolute;
  left: 20px;
  top: 50px;
  width: 170px;
  color: white;
  z-index: 99999999999999999999999999999999;

  .sub-menu {
    left: 170px;
    top: 0;
  }

  @include shadow-subtle;

  a:not(.btn) {
    display: inline-block;
    width: 100%;
    color: white;

    &:hover {
      color: color(primary);
    }
  }

  .menu-item {
    border-bottom: 1px solid white;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.menu.menu-secondary {
  .menu-item a {
    color: white;
    padding: 15px 20px;

    &:hover {
      color: color(highlight);
    }
  }
}


/*

Mobile Menu

*/
.slideout-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.header {
  // transition: opacity 2.5s ease;
}

.slideout-open .header + div {
  // opacity: 0.4;
}

.nav-mobile {
  opacity: 0;
  display: none;
}

.slideout-open {
  .nav-mobile {
    opacity: 1;
  }
}

.menu-mobile-navigation-container {
  display: none;
  background-color: white;
  padding: 1.5em 1em 1em;
  transition: all 11s ease;
  height: 100%;

  .menu-item {
    text-align: left;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    width: 100%;
    margin-bottom: 1em;

    a {
      color: color(primary);
      width: 100%;
      display: block;
      padding: 0.5em 0;
    }
  }
}

.menu-primary-navigation-container {
  width: 100%;
  margin-top: 1em;
}

.toggle-button {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background-color: color(secondary);
  position: absolute;
  right: 10px;
  top: 32px;

  &:hover {
    background-color: color(secondary);
  }

  @include respond-to(800, 'max') {
    display: block;
    float: right;
  }

  @include respond-to(500, 'max') {
    top: 23px;
  }
}

.toggle-button:focus {
  outline: none;
}

.toggle-button span {
  display: block;
  position: absolute;
  top: 28px;
  left: 10px;
  right: 18px;
  height: 4px;
  background: white;
  width: 65%;
}

.toggle-button span::before,
.toggle-button span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.toggle-button span::before {
  top: -10px;
}

.toggle-button span::after {
  bottom: -10px;
}

.toggle-button span {
  transition: background 0s 0.3s;
}

.toggle-button span::before,
.toggle-button span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.toggle-button span::before {
  transition-property: top, transform;
}

.toggle-button span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.toggle-button.is-active {
  // background-color: #cb0032;
}

.toggle-button.is-active span {
  background: none;
}

.toggle-button.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.toggle-button.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.toggle-button.is-active span::before,
.toggle-button.is-active span::after {
  transition-delay: 0s, 0.3s;
}
