.component-pet-finder {
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  min-height: 300px;

  .l-contain {
    position: relative;
  }
}

.component-pet-finder-grid {
  opacity: 0;
  width: 100%;
  margin-bottom: 2em;

  @include respond-to(600, 'max') {
    max-width: 80%;
  }
}

.component-pet-finder-filter-clear {
  margin: 1em 0 1em 0;
}

.grid-item {
  padding: 10px;
  margin: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 3px rgba(0,0,0,.23);
  transition: opacity 0.2s;

  @include shadow-subtle;

  &:hover {
    // cursor: pointer;
    // @include dim-subtle;
  }
}

.pet-link {
  display: inline-block;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
    @include dim-subtle;
  }
}

.grid-sizer,
.grid-item {
  width: 28%;

  @include respond-to(800, 'max') {
    width: 42%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include respond-to(600, 'max') {
    width: 100%;
    margin-left: 0;
  }
}

// .grid-gutter {
//   width: 4%;
// }

.pet-image {
  display: block;
  width: 100%;

}

.pet-name {
  margin-top: 10px;
  margin-bottom: 0;
}

.pet-breed {
  margin: 5px 0;
  text-transform: capitalize;
  color: color(base);
}

.pet-age {
  margin-bottom: 5px;
}

.pet-size,
.pet-age {
  margin-top: 0;
  color: color(base);
}
