.component-pet-finder {
  .l-contain {
    position: relative;
  }
}

.component-pet-finder-grid {
  opacity: 0;
  width: 100%;
}

.grid-item {
  padding: 10px;
  width: 32%;
}

.grid-gutter {
  width: 1%;
}

.pet-image {
  display: block;
  width: 100%;
}

.pet-name {
  margin-top: 0;
}
