.component-pet-finder {
  padding-bottom: 0;

  .l-contain {
    position: relative;
  }
}

.component-pet-finder-grid {
  opacity: 0;
  width: 100%;
}

.grid-item {
  padding: 10px;
  margin: 20px;
  border: 1px solid #e6e6e6;

  @include shadow-subtle;

  &:hover {
    cursor: pointer;

    @include dim-subtle;
  }
}

.grid-sizer,
.grid-item {
  width: 28%;

  @include respond-to(800, 'max') {
    width: 42%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include respond-to(600, 'max') {
    width: 100%;
    margin-left: 0;
  }
}

// .grid-gutter {
//   width: 4%;
// }

.pet-image {
  display: block;
  width: 100%;

}

.pet-name {
  margin-top: 10px;
  margin-bottom: 0;
}

.pet-breed {
  margin: 5px 0;
  text-transform: capitalize;
}

.pet-age {
  margin-top: 0;
}
